@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme{

--breakpoint-desktop-s1:1024px;
--breakpoint-desktop-s2:1032px;
--breakpoint-desktop-s3:1130px;
--breakpoint-desktop-lg1:1146px;
--breakpoint-desktop-lg2:1160px;
--breakpoint-desktop-lg3:1174px;
--breakpoint-desktop-lg4:1210px;
--breakpoint-tablet-lg1:950px;
--breakpoint-tablet-lg2:988px;
--breakpoint-tablet-s1:710px;
--breakpoint-tablet-s2:800px;
--breakpoint-mobile-s1:470px;

--color-darkbrown:#2F2F2F;
--color-hoverGray:#737373;
--color-paratextColor:#CDCDC1;

--text-lg:1.125rem;   /* 18px */
--text-sm:0.75rem;  /* 12px */






}

body{
  overflow-x: hidden;

  
}

@media (max-width: 1154px) {
  #navbar .logo-text {
    font-size: 2rem; /* text size for smaller screens */
  }
  #navbar .nav-content{
   font-size: 16px;
  }
}

@media (max-width: 470px) {
  #navbar .logo-text {
   font-size: 24px; /* text size for smaller screens */
  }
}


.section-black{
  background-color: black;
}

.section-black h1{
color: white;
}
.section-black p{
  color: var(--color-paratextColor);
  }

  .section-white h1{
  color: var(--color-darkbrown);
  }
  .section-white p{
    color: var(--color-hoverGray);
  }
  .section-home-carousel p{
    font-size: 16px;
  }
  .section-home-carousel h1{
    font-size: 24px;
  }
  
  /* .swiper-pagination {
    background-color: black;
  } */
  .swiper-pagination {
  width: fit-content !important;
    left:50px !important;
   
  }

  @media (max-width: 1032px) {
    .swiper-pagination {
     
        left:400px !important;
      
      }
  }

  @media (max-width: 950px) {
    .swiper-pagination {
        left:100px !important;
      }
  }
 
  
